#dashboard{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#left-nav{
    position: fixed;
    z-index: 1999;
    left: 0;
    top: 0;
    height: 100%;
    color: white;
    padding: 0;
    background-color: var(--baseColor);
}
.nav-user {
    width: 0;
    overflow: hidden;
    transition: width 0.2s;
}
#left-nav:hover > .nav-user{
    width: 150px;
}
.nav-user > div{
    margin-top: 25px;
    height: 40px;
    padding: 10px;
    width: 100%;
    font-size: 0.7rem;
    white-space: nowrap;
}
.nav-user > button{
    font-size: 0.8rem;
    margin: 0 10px 25px 10px;
    width: calc(100% - 20px);
}
.nav-close{
    display: none;
}
.nav-list{
    display: flex;
    height: 50px;
    align-items: center;
    cursor: pointer;
}
.nav-list > i {
    width: 20px;
    margin: 0 10px;
}
.nav-list > div {
    font-size: 0.8rem;
    width: 0;
    overflow: hidden;
    transition: width 0.2s;
    white-space: nowrap;
}
.nav-list.active{
    background-color: var(--baseColorActive);
}
#left-nav:hover > .nav-list > div {
    width: 80px;
}
.top-nav{
    display: none;
}
#central-dashboard{
    margin-left: 40px;
    width: calc(100vw - 40px);
    height: 100vh;
    overflow: hidden;
}
#antrian-pane{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    background-color: white;
    height: 100vh;
}
@media (max-width: 992px) {
    .nav-close{
        padding: 10px 40px;
        background-color: red;
        display: block;
        position: absolute;
        left: 0;
        top:0;
        font-size: 1.4rem;
    }
    #left-nav{
        width: 0;
        overflow: hidden;
        transition: width 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #left-nav.left-nav-show{
        width: 100vw;
    }

    .nav-user{
        width: 150px;
        margin: 20px auto;
        text-align: center;
    }
    #left-nav.left-nav-show > .nav-list > div {
        width: 150px;
        font-size: 1rem;
    }
    .nav-list{
        height: 75px;
        width: 100vw;
        padding-left: 80px;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .top-nav{
        background-color: var(--baseColor);
        height: 55px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        color: white;
    }
    #central-dashboard{
        margin-left: 0;
        width: 100vw;
        height: calc(100vh - 55px);
        overflow: auto;
    }
    #antrian-pane{
        display: none;
    }
}