#dashboard{
    background-color: violet;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: 3px solid red;
}
#left-nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    color: white;
    padding: 0;
    background-color: black;
}
#left-nav > div:nth-child(1) {
    height: 80px;
    overflow: hidden;
}
#left-nav > div:nth-child(1) > div {
    font-size: 0.6rem;
    text-align: center;
}
#left-nav > div:nth-child(1) > button {
    font-size: 0.7rem;
}
.nav-list{
    display: flex;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    cursor: pointer;
    height: 50px;
}
.nav-list:hover{
    background-color: rgb(45, 43, 43);
}
.nav-list > i {
    width: 30px;
    text-align: center;
}
.nav-list > div {
    font-size: 0.75rem;
}
.nav-hidden, .nav-user {
    padding: 0px;
    width: 0px;
    overflow: hidden;
    transition: width 0.2s, padding 0.2s;
}
#left-nav:hover .nav-hidden{
    width: 100px; 
    padding: 10px;
}
#left-nav:hover .nav-user{
    width: 150px; 
    padding: 10px;
}
#central-dashboard{
    margin-left: 50px;
    height: 100%;
    background-color: aqua;
}
.top-nav, .antrian-top{
    display: none;
}
.top-nav > div {
    width: 50px;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-close{
    display: none;
}

@media (max-width: 992px) {
    .top-nav{
        display: block;
        background-color: black;
        height: 50px;
    }
    #left-nav{
        width: 0px;
        overflow: hidden;
        transition: width 0.3s;
    }
    #left-nav.left-nav-show{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #left-nav.left-nav-show > .nav-user {
        padding-top: 20px;
        width: 150px;
        overflow: hidden;
    }
    #left-nav.left-nav-show > .nav-list{
        border-top: 1px solid rgb(88, 85, 85);
        border-bottom: 1px solid rgb(88, 85, 85);
        padding: 30px 50px;
    }
    #left-nav.left-nav-show > .nav-list > .nav-hidden{
        width: 100px;
        margin-left: 15px;
    }
    /* #left-nav:hover .nav-user{
        width: 150px; 
        padding: 10px;
    } */
    #left-nav.left-nav-show > .nav-list:hover{
        background-color: rgb(45, 43, 43);
    }
    .nav-close {
        position: absolute;
        color: white;
        top: 10px;
        right: 10px;
        display: block;
        font-size: 1.5rem;
    }
    #central-dashboard{
        margin-left: 0;
    }
}