#home-container{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(255, 255, 255, 0.7);
}
#home-container div{
    /* border: 1px solid grey; */
}
.home-left{
    flex-grow: 1;
    padding: 10px;
    max-width: 30% ;
}
.home-left .antrian-pane{
    height: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 0;
    overflow: hidden;
    box-shadow: 5px 6px 8px -1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 6px 8px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 6px 8px -1px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
}
.home-left > .antrian-pane > div:nth-child(1){
    color: white;
    background-color: var(--baseColor);
    padding: 5px 20px;
}
.antrian-pane > .filter{
    padding: 20px;
}
.antrian-pane > .tab{
    padding: 5px 0px 0 0;
    display: flex;
    background-color: var(--baseColorActive);
    cursor: pointer;
}
.antrian-pane > .tab > div{
    flex-grow: 1;
    margin: 0 5px;
    text-align: center;
    padding: 5px;
    border: 5px 5px 0 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.621);
}
.antrian-pane > .tab > div.active{
    background-color: rgba(255, 255, 255, 1);
}
.antrian-pane > .tab-page{
    flex-grow: 1;
    overflow: hidden;
}
.antrian-pane > .tab-page > div{
    padding: 20px;
    height: 100%;
}
#antrian-page-antrian{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#antrian-page-antrian > .antrian-sub-container{
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
    min-height: calc((100%-40px)/2);
    border: 1px solid var(--baseColor);
}
#antrian-page-antrian > .antrian-sub-container:nth-child(1){
    margin-bottom: 10px;
}
.antrian-sub-container > div:nth-child(1){
    background-color: var(--baseColor);
    color: white;
    padding: 10px 20px;
    font-size: 0.9rem;
    height: 40px;
}
.antrian-sub-container > div:nth-child(2){
    max-height: calc(100% - 40px);
    overflow-y: auto;
}
.antrian-list-container > .antrian-list-item:nth-child(odd){
    background-color:rgb(204, 252, 252);
}
.antrian-list-container > .antrian-list-item:nth-child(even){
    background-color:rgb(160, 241, 241);
}
.antrian-list-item {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: end;
    /* overflow: hidden; */
}
.antrian-list-item > div:nth-child(1){
    max-width: 200px;
    margin-right: 10px;
}
.antrian-list-item > div:nth-child(1) > div:nth-child(1){
    font-size: 0.65rem;
}
.antrian-list-item > div:nth-child(1) > div:nth-child(3){
    font-size: 0.8rem;
    font-weight: bold;
}
.antrian-list-item > div:nth-child(1) > div:nth-child(2){
    font-size: 0.65rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.1rem;
    color: var(--baseColor);
    font-weight: bold;
}
.antrian-list-item > div:nth-child(2){
    flex-grow: 1;
}
.antrian-list-item button{
    width: 100%;
    background-color: var(--baseColor);
    color: white;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
}

.home-right{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.home-right > div:nth-child(1){
    height: 50%;
    padding: 10px;
}
.pasien-card{
    background-color:white;
    padding: 20px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    box-shadow: 5px 6px 8px -1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 6px 8px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 6px 8px -1px rgba(0,0,0,0.6);
}
.pasien-card > div:nth-child(1){
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}
.pasien-card > div:nth-child(1) > div:nth-child(1){
    height: 150px;
    text-align: center;
    flex-grow: 1;
}
.pasien-card > div:nth-child(1) > div:nth-child(1) > img{
    height: 100%;
}
.pasien-card > div:nth-child(1) > div:nth-child(2){
    padding: 5px 10px;
}
.pasien-card th{
    color: var(--baseColor);
    font-size: 0.8rem;
    padding-right: 10px;
}
.pasien-card #detail-nama{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--baseColor);
}
.pasien-card > div:nth-child(2){
    flex-grow: 1;
    padding: 15px;
    margin-right: 20px;
    border: 1px solid grey
}
.pasien-card th.table-sub{
    color:black;
    padding-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}
.pasien-card > div:nth-child(3){
    display: flex;
    flex-direction: column;
}
.pasien-card > div:nth-child(3) > button{
    font-size: 0.8rem;
}
.searhing-container{
    flex-grow: 1;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.searhing-container > div:nth-child(1){
    background-color: var(--baseColor);
    color:white;
    padding: 5px 20px;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
}
.searhing-container .filter-container{
    display: flex;
    background-color: rgb(224, 224, 224);
}
.searhing-container .filter-container > div{
    flex-grow: 1;
    padding: 15px 10px;
}
.searhing-container .filter-container input{
    margin-bottom: 10px;
}
.searhing-container > div:has(.table-container){
    background-color: aliceblue;
    flex-grow: 1;
    overflow: hidden;
}
.searhing-container .table-container{
    position: relative;
    overflow: auto;
    height: 100%;
}
.searhing-container table{
    font-size: 0.8rem;
}
.searhing-container table thead th{
    background-color: var(--baseColor);
    color: white;
    text-align: center;
}
.searhing-container .table-container th{
    position: sticky;
    top: 0;
}
.android-show{
    display: none;
}
#searching-filter-show+label{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align:center;
    color: black
}
#searching-filter-show:checked + label{
    border: 0;
    background-color: red;
    color: white;
}
#searching-filter-show{
    position: fixed;
    left: -900px
}
@media (max-width: 992px){
    #home-container {
        display: block;
    }
    .android-hide{
        display: none;
    }
    .android-show{
        display: block;
    }
    .home-left{
        padding: 0;
        max-width: 100%;
    }
    .home-left > .antrian-pane, #antrian-page-antrian > .antrian-sub-container{
        border-radius: 0;
        border: 0;
    }
    .tab.android-hide{
        padding: 0;
    }
    .tab-page > div{
        padding: 0 !important;
    }
    .antrian-list-container{
        padding: 0 !important;
        flex-grow: 1;
    }
    .antrian-list-item {
        display: none;
    }
    .antrian-list-item:nth-child(1){
        display: flex;
        align-items: center;
        border-radius: 0 5px 5px 0 ;
        padding: 0 5px;
        height: 100%;
        margin: 0 !important;
        background-color: white !important;
        border:4px solid green;        
    }
    .antrian-list-item:nth-child(1) > div:nth-child(1)> div:nth-child(2){
        width: 140px;
        font-size: 0.9rem;
        height: 100%;
    }
    .antrian-list-item:nth-child(1) > div:nth-child(1)> div:nth-child(1){display: none;}
    .antrian-list-item:nth-child(1) > div:nth-child(1)> div:nth-child(3){display: none;}
    .antrian-list-item:nth-child(1) > div:nth-child(2){display: none;}
    #antrian-page-antrian > .antrian-sub-container:nth-child(1){margin-bottom: 0;}
    #antrian-on-container.antrian-sub-container{
        background-color: black;
        color:white;
        display: flex;
        padding: 5px;
    }
    #antrian-on-container.antrian-sub-container > button{
        border-radius: 5px;
        padding: 5px 5px;
        margin: 0 3px;
        border: 0 !important
    }
    #antrian-on-container.antrian-sub-container > button:nth-child(2){
        background-color: transparent;
        color: white;
        width: 30px;
        margin-right: 5px;
    }
    #antrian-on-container.antrian-sub-container > button:nth-child(3){
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        margin: 0px;
        background-color: green;
        color: white;
        width: 50px;    
    }
    #antrian-on-container.antrian-sub-container > button:nth-child(5){
        background-color: red;
        color: white;
    }
    #antrian-on-container.antrian-sub-container > button:nth-child(6){
        background-color:cadetblue;
        color: white;
    }
    #antrian-on-container.antrian-sub-container > button > div {
        font-size: 0.8rem;
    }
    .searhing-container, .searhing-container .filter-container > div{
        padding: 0;
    } 
    .searhing-container .filter-container {
        padding: 10px 10px 0 10px;
        display: block;
        background-color:burlywood;
    }
    .searhing-container .filter-container > div > input{
        margin-bottom: 5px;
    }
    .searhing-container > div:has(.table-container){
        overflow: hidden;
        padding: 0 10px 10px 10px;
        background-color: burlywood;
    }
    .searhing-container .table-container table{
        background-color: white;
    }
    .filter-container > div:nth-child(1){
        position: relative;
    }
    .filter-container > div:nth-child(1) > input:nth-child(1){
        width: calc(100% - 40px);
    }
    .filter-container:has(div > #searching-filter-show:checked) input:nth-child(2){
        max-height: 100px !important;
        min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
        padding: 0.25rem 0.5rem;
        border: 1px;
        margin-bottom: 10px;
    }
    .filter-container:has(div > #searching-filter-show:checked) > div:nth-child(2) > input:nth-child(1){
        max-height: 100px !important;
        min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
        padding: 0.25rem 0.5rem;
        border: 1px;
        margin-bottom: 10px;
    }
    .filter-container:has(div > #searching-filter-show) input:nth-child(2){
        max-height: 0px !important;
        min-height: 0px !important;
        padding:0;
        overflow: hidden;
        border: 0px;
        margin-bottom: 0;
        transition: margin-bottom 0.3s, max-height 0.3s, min-height 0.3s, padding 0.1s, border 0.3s ;
    }
    .filter-container:has(div > #searching-filter-show) > div:nth-child(2) > input:nth-child(1){
        max-height: 0px !important;
        min-height: 0px !important;
        padding:0;
        overflow: hidden;
        border: 0px;
        margin-bottom: 0;
        transition: margin-bottom 0.3s, max-height 0.3s, min-height 0.3s, padding 0.1s, border 0.3s ;
    }
    .home-right {
        background-color: white;
        height: calc(100vh - 120px);
        max-width: 100%;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
    .home-right div { border-color: burlywood;}
    .home-right > div {padding:0 !important;}
    .pasien-card{
        display: block;
        position: relative;
        height: 100%;
        overflow: hidden;
        border-radius: 0;
        padding: 5px 0px 0 0 !important;
        background-color: burlywood;
        color: white;
    }
    .pasien-card > div:nth-child(1){
        display: flex; 
        flex-direction: row;
        width: calc(100% - 70px);
    }
    .pasien-card > div:nth-child(1) > div:nth-child(1){
        height: 70px;
        width: 100px;
        flex-grow: 0;
    }
    #detail-nama{
        font-size: 0.95rem !important;
    }
    .pasien-card > div:nth-child(1) th {display: none;}
    .pasien-card > div:nth-child(1) td {font-size: 0.8rem;}
    .pasien-card > div:nth-child(2) {
        margin-right: 0;
        border: 0;
        background-color: burlywood;
        padding-top: 0 !important;
    }
    .pasien-card > div:nth-child(2) > table th{
        vertical-align: top;
    }
    .pasien-card > div:nth-child(2) > div{
        display: flex;
    }
    .pasien-card > div:nth-child(2) > div table{
        flex-grow: 1;
    }
    .pasien-card > div:nth-child(2) > div th:nth-child(1){
        font-size: 0.9rem;
    }
    .pasien-card > div:nth-child(2) tbody > tr:nth-child(2) > th, .pasien-card > div:nth-child(2) tbody > tr:nth-child(3) > th{
        font-size: 0.7rem !important
    }
    .pasien-card > div:nth-child(2) tbody > tr:nth-child(2) > td, .pasien-card > div:nth-child(2) tbody > tr:nth-child(3) > td{
        font-size: 0.8rem !important
    }
    .pasien-card > div:nth-child(3){
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
    }
    .pasien-card > div:nth-child(3) > button{
        border-radius: 0 !important;
    }

}